nxml-mode/schema/xproc.rnc

default namespace p = "http://www.w3.org/ns/xproc"
namespace c = "http://www.w3.org/ns/xproc-step"
namespace s = "http://www.ascc.net/xml/schematron"
namespace local = ""
namespace sa = "http://xproc.org/ns/syntax-annotations"
namespace xs = "http://www.w3.org/2001/XMLSchema"

# This is schema version $Id: xproc.rnc,v 1.1 2008/11/26 15:21:52 jules Exp $

# This schema neither supports nor requires the use of RELAX NG DTD Compatibility

[
   sa:model = "XPathExpression"
]
XPathExpression = text

[
   sa:model = "XSLTMatchPattern"
]
XSLTMatchPattern = text

name.ncname.attr = attribute name { xsd:NCName }
name.qname.attr = attribute name { xsd:QName }
port.attr = attribute port { xsd:NCName }
required.attr = attribute required { xsd:boolean }
sequence.attr = attribute sequence { xsd:boolean }
primary.attr = attribute primary { xsd:boolean }
select.attr = attribute select { XPathExpression }
xpath-version.attr = attribute xpath-version { text }
psvi-required.attr = attribute psvi-required { xsd:boolean }
exclude-inline-prefixes.attr = attribute exclude-inline-prefixes { PrefixList }

[
   sa:model = "prefix list"
]
PrefixList = xsd:NMTOKENS

[
   sa:ignore = "yes"
]
xmlid.attr = attribute xml:id { xsd:ID }

[
   sa:ignore = "yes"
]
xmlbase.attr = attribute xml:base { xsd:anyURI }
href.attr = attribute href { xsd:anyURI }

common.attributes = xmlid.attr?, xmlbase.attr?, extension.attr*

decl.attributes = psvi-required.attr?,
   xpath-version.attr?,
   exclude-inline-prefixes.attr?

# ============================================================

start = Pipeline | Library | DeclareStep
 | VocabParam | VocabParamSet | VocabResult | VocabHttpRequest
 | VocabHeader | VocabMultipart | VocabBody | VocabHttpResponse | VocabQuery
 | VocabLine | VocabDirectory | Errors | StandardStep

# ============================================================

[
   sa:class = "language-construct"
]
Library =
   element library {
      decl.attributes,
      common.attributes,
      (Import|DeclareStep|Pipeline|Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Import =
   element import {
      common.attributes,
      href.attr,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Pipeline =
   element pipeline {
      name.ncname.attr?,
      attribute type { xsd:QName }?,
      common.attributes,
      decl.attributes,
      (Input|ParameterInput|Output|Option|Log|Serialization|Documentation|PipeInfo)*,(DeclareStep|Import|Documentation|PipeInfo)*,Subpipeline
   }

[
   sa:model = "subpipeline"
]
Subpipeline = Variable*,(ForEach|Viewport|Choose|Group|Try|OtherStep|Documentation|PipeInfo)+

# ============================================================

[
   sa:class = "language-construct"
]
InputDeclaration =
   element input {
      port.attr,
      sequence.attr?,
      primary.attr?,
      attribute kind { "document" }?,
      select.attr?,
      common.attributes,
      ((\Empty|(Document|Inline|Data)+)? & (Documentation|PipeInfo)*)
   }

[
   sa:class = "language-construct"
]
InputBinding =
   element input {
      port.attr,
      select.attr?,
      common.attributes,
      ((\Empty|(Pipe|Document|Inline|Data)+)? & (Documentation|PipeInfo)*)
   }

[
   sa:element = "input"
]
Input = InputDeclaration | InputBinding

# ============================================================

[
   sa:class = "language-construct"
   sa:ignore = "yes"
]
ParameterInputDeclaration =
   element input {
      port.attr,
      attribute sequence { xsd:boolean }?,
      primary.attr?,
      attribute kind { "parameter" },
      common.attributes,
      ((\Empty|(Document|Inline)+)? & (Documentation|PipeInfo)*)
   }

[
   sa:element = "input"
   sa:ignore = "yes"
]
ParameterInput = ParameterInputDeclaration

# ============================================================

[
   sa:class = "language-construct"
]
OutputDeclaration =
   element output {
      port.attr,
      sequence.attr?,
      primary.attr?,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
OutputBinding =
   element output {
      port.attr,
      sequence.attr?,
      primary.attr?,
      common.attributes,
      ((\Empty|(Pipe|Document|Inline|Data)+)? & (Documentation|PipeInfo)*)
   }

[
   sa:element = "output"
]
Output = OutputDeclaration | OutputBinding

[
   sa:class = "language-construct"
]
Pipe =
   element pipe {
      attribute step { xsd:NCName },
      port.attr,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Document =
   element document {
      href.attr,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Inline =
   element inline {
      exclude-inline-prefixes.attr?,
      common.attributes,
      Any
   }

[
   sa:class = "language-construct"
]
\Empty =
   element empty {
      (Documentation|PipeInfo)*
   }


[
   sa:class = "language-construct"
]
Data =
   element data {
      href.attr,
      attribute wrapper { xsd:QName }?,
      attribute content-type { string }?,
      common.attributes,
      (Documentation|PipeInfo)*
   }


[
   sa:class = "language-construct"
]
Log =
   element log {
      common.attributes,
      port.attr,
      href.attr?,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Serialization =
   element serialization {
      common.attributes,
      port.attr,
      attribute byte-order-mark { xsd:boolean }?,
      attribute cdata-section-elements { xsd:NMTOKENS }?,
      attribute doctype-public { text }?,
      attribute doctype-system { text }?,
      attribute encoding { text }?,
      attribute escape-uri-attributes { xsd:boolean }?,
      attribute include-content-type { xsd:boolean }?,
      attribute indent { xsd:boolean }?,
      attribute media-type { text }?,
      attribute method { xsd:QName }?,
      attribute normalization-form { 'NFC'|'NFD'|'NFKC'|'NFKD'|'fully-normalized'|'none'|xsd:NMTOKEN }?,
      attribute omit-xml-declaration { xsd:boolean }?,
      attribute standalone { "true" | "false" | "omit" }?,
      attribute undeclare-prefixes { xsd:boolean }?,
      attribute version { text }?,
      (Documentation|PipeInfo)*
   }

# ============================================================

[
   sa:class = "language-construct"
]
OptionDeclaration =
   element option {
      name.qname.attr,
      required.attr?,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
OptionValue =
   element option {
      name.qname.attr,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
OptionSelect =
   element option {
      name.qname.attr,
      select.attr,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:element = "option"
]
Option = OptionDeclaration | OptionValue | OptionSelect

# ============================================================

[
   sa:class = "language-construct"
]
WithOptionValue =
   element with-option {
      name.qname.attr,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
WithOptionSelect =
   element with-option {
      name.qname.attr,
      select.attr,
      common.attributes,
      ((\Empty|Pipe|Document|Inline|Data)? & (Namespaces|Documentation|PipeInfo)*)
   }

[
   sa:element = "with-option"
]
WithOption = WithOptionValue | WithOptionSelect

# ============================================================

[
   sa:class = "language-construct"
]
VariableValue =
   element variable {
      name.qname.attr,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
VariableSelect =
   element variable {
      name.qname.attr,
      select.attr,
      common.attributes,
      ((\Empty|Pipe|Document|Inline|Data)? & (Namespaces|Documentation|PipeInfo)*)
   }

[
   sa:element = "variable"
]
Variable = VariableValue | VariableSelect

# ============================================================

[
   sa:class = "language-construct"
]
Namespaces =
   element namespaces {
      attribute binding { xsd:QName }?,
      attribute element { XPathExpression }?,
      attribute except-prefixes { PrefixList }?,
      (Documentation|PipeInfo)*
   }
      
# ============================================================

[
   sa:class = "language-construct"
]
WithParamValue =
   element with-param {
      name.qname.attr,
      port.attr?,
      common.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
WithParamSelect =
   element with-param {
      name.qname.attr,
      select.attr,
      port.attr?,
      common.attributes,
      ((\Empty|Pipe|Document|Inline|Data)? & (Namespaces|Documentation|PipeInfo)*)
   }

[
   sa:element = "with-param"
]
WithParam = WithParamValue | WithParamSelect

# ============================================================

[
   sa:class = "language-construct"
]
DeclareStep =
   element declare-step {
      name.ncname.attr?,
      attribute type { xsd:QName }?,
      decl.attributes,
      common.attributes,
      (Input|ParameterInput|Output|Option|Log|Serialization|Documentation|PipeInfo)*,((DeclareStep|Import|Documentation|PipeInfo)*,Subpipeline)?
   }

# ============================================================

[
   sa:class = "language-construct"
]
ForEach =
   element for-each {
      name.ncname.attr?,
      common.attributes,
      ((IterationSource? & (Output|Log|Documentation|PipeInfo)*), Subpipeline)
   }

[
   sa:class = "language-construct"
]
IterationSource =
   element iteration-source {
      select.attr?,
      common.attributes,
      ((\Empty|(Pipe|Document|Inline|Data)+)? & (Documentation|PipeInfo)*)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Viewport =
   element viewport {
      name.ncname.attr?,
      attribute match { XSLTMatchPattern },
      common.attributes,
      ((ViewportSource? & Output? & Log? & Documentation* & PipeInfo*), Subpipeline)
   }

[
   sa:class = "language-construct"
]
ViewportSource =
   element viewport-source {
      common.attributes,
      ((Pipe|Document|Inline|Data)? & (Documentation|PipeInfo)*)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Choose =
   element choose {
      name.ncname.attr?,
      common.attributes,
      ((Documentation|PipeInfo)*,
         XPathContext?,
         Variable*,
         (When|Documentation|PipeInfo)*,
         Otherwise?,
         (Documentation|PipeInfo)*)
   }

[
   sa:class = "language-construct"
]
XPathContext =
   element xpath-context {
      common.attributes,
      ((\Empty|Pipe|Document|Inline|Data)? & (Documentation|PipeInfo)*)
   }

[
   sa:class = "language-construct"
]
When =
   element when {
      attribute test { XPathExpression },
      common.attributes,
      ((Documentation|PipeInfo)*,
         XPathContext?,
         (Output|Log|Documentation|PipeInfo)*,
         Subpipeline)
   }

[
   sa:class = "language-construct"
]
Otherwise =
   element otherwise {
      common.attributes,
      ((Output|Log|Documentation|PipeInfo)*, Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Group =
   element group {
      name.ncname.attr?,
      common.attributes,
      ((Output|Log|Documentation|PipeInfo)*, Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Try =
   element try {
      name.ncname.attr?,
      common.attributes,
      ((Variable*, TryGroup, Catch) & (Documentation|PipeInfo)*)
   }

[
   sa:class = "language-construct"
]
TryGroup =
   element group {
      common.attributes,
      ((Output|Log|Documentation|PipeInfo)*, Subpipeline)
   }

[
   sa:class = "language-construct"
]
Catch =
   element catch {
      name.ncname.attr?,
      common.attributes,
      ((Output|Log|Documentation|PipeInfo)*, Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
OtherAtomicStep =
   element * - (p:*) {
      name.ncname.attr?,
      option.attr*,
      common.attributes,
      (InputBinding|WithOption|WithParam|Log|Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
OtherCompoundStep =
   element * - (p:*) {
      name.ncname.attr?,
      common.attributes,
      ((Output|Log|Documentation|PipeInfo)*, Subpipeline)
   }

OtherStep = StandardStep | OtherAtomicStep | OtherCompoundStep

# ============================================================
[
   sa:ignore = "yes"
   sa:class = "language-construct"
]
Documentation =
   element documentation {
      common.attributes,
      DocContent*
   }

[
   sa:model = "any-well-formed-content"
]
DocContent = (text | Any)

# ============================================================
[
   sa:ignore = "yes"
   sa:class = "language-construct"
]
PipeInfo =
   element pipeinfo {
      common.attributes,
      DocContent*
   }

# ============================================================

_any.attr =
   attribute * { text }

option.attr =
   attribute (local:* - local:name) { text }

extension.attr =
   attribute (* - (local:*|xml:*)) { text }

[
   sa:model = "anyElement"
]
Any =
   element * {
      (_any.attr | text | Any)*
   }

# ============================================================

[
   sa:class = "step-vocabulary"
]
VocabParam =
   element c:param {
      name.qname.attr,
      attribute namespace { xsd:anyURI }?,
      attribute value { text },
      empty
   }

[
   sa:class = "step-vocabulary"
]
VocabParamSet =
   element c:param-set {
      VocabParam*
   }

[
   sa:class = "step-vocabulary"
]
VocabDirectory =
   element c:directory {
      attribute name { string },
      ((VocabFile|VocabDirectory|VocabOther)*)
   }
[
   sa:class = "step-vocabulary"
]
VocabFile =
   element c:file {
      attribute name { string },
      empty
   }
[
   sa:class = "step-vocabulary"
]
VocabOther =
   element c:other {
      attribute name { string },
      empty
   }
[
   sa:class = "step-vocabulary"
]
VocabResult =
   element c:result {
      text
   }
[
   sa:class = "step-vocabulary"
]
VocabHttpRequest =
   element c:request {
      attribute method { xsd:NCName }?,
      attribute href { xsd:anyURI }?,
      attribute detailed { xsd:boolean }?,
      attribute status-only { xsd:boolean }?,
      attribute username { string }?,
      attribute password { string }?,
      attribute auth-method { string }?,
      attribute send-authorization { xsd:boolean }?,
      attribute override-content-type { text }?,
      (VocabHeader*,(VocabMultipart|VocabBody)?)
   }

[
   sa:class = "step-vocabulary"
]
VocabHeader =
   element c:header {
      attribute name { text },
      attribute value { text },
      empty
   }

[
   sa:class = "step-vocabulary"
]
VocabMultipart =
   element c:multipart {
      attribute content-type { string }?,
      attribute boundary { string },
     (VocabHeader*,VocabBody)+
   }

[
   sa:class = "step-vocabulary"
]
VocabBody =
   element c:body {
      attribute content-type { string },
      attribute encoding { text }?,
      attribute id { text }?,
      attribute description { text }?,
      Any*
   }

[
   sa:class = "step-vocabulary"
]
VocabHttpResponse =
   element c:response {
      attribute status { xsd:integer }?,
      (VocabHeader*,(VocabMultipart|VocabBody)?)
   }

[
   sa:class = "step-vocabulary"
]
VocabQuery =
   element c:query {
      text
   }

[
   sa:class = "step-vocabulary"
]
VocabLine =
   element c:line {
      text
   }

[
   sa:class = "step-vocabulary"
]
VocabData =
   element c:data {
      attribute content-type { string }?,
      text
   }

# ============================================================

[
   sa:class = "error-vocabulary"
]
Errors =
   element c:errors {
      Error*
   }

[
   sa:class = "error-vocabulary"
]
Error =
   element c:error {
      name.ncname.attr?,
      attribute type { xsd:QName }?,
      attribute code { xsd:QName }?,
      attribute href { xsd:anyURI }?,
      attribute line { xsd:integer }?,
      attribute column { xsd:integer }?,
      attribute offset { xsd:integer }?,
      (text|Any)*
   }

Charset = text
Encoding = text
MIMEContentType = text
MIMEMediaType = text
RegularExpression = text
NormalizationForm = 'NFC'|'NFD'|'NFKC'|'NFKD'|'fully-normalized'|'none'|xsd:NMTOKEN
ListOfQNames = text

include "steps.rnc"
